In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
dialogueText = pd.read_csv("../input/chatbotdataset/Ubuntu-dialogue-corpus/dialogueText.csv")
dialogueText_196 = pd.read_csv("../input/chatbotdataset/Ubuntu-dialogue-corpus/dialogueText_196.csv")
dialogueText_301 = pd.read_csv("../input/chatbotdataset/Ubuntu-dialogue-corpus/dialogueText_301.csv")

In [3]:
# dialogue text info
dialogueText.info()
dialogueText.describe()
dialogueText.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038324 entries, 0 to 1038323
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   folder      1038324 non-null  int64
 1   dialogueID  1038324 non-null  object
 2   date        1038324 non-null  object
 3   from        1038311 non-null  object
 4   to          566035 non-null   object
 5   text        1038237 non-null  object
dtypes: int64(1), object(5)
memory usage: 47.5+ MB

,folder,dialogueID,date,from,to,text
0,3,126125.tsv,2008-04-23T14:55:00.000Z,bad_image,NaN,"Hello folks, please help me a bit with the fol..."
1,3,126125.tsv,2008-04-23T14:56:00.000Z,bad_image,NaN,Did I choose a bad channel? I ask because you ...
2,3,126125.tsv,2008-04-23T14:57:00.000Z,lordleemo,bad_image,the second sentence is better english and we...
3,3,64545.tsv,2009-08-01T06:22:00.000Z,mechtech,NaN,Sock Puppe?t
4,3,64545.tsv,2009-08-01T06:22:00.000Z,mechtech,NaN,WTF?

In [4]:
# dialogue text info
dialogueText_196.info()
dialogueText_196.describe()
dialogueText_196.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9212877 entries, 0 to 9212876
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   folder      int64
 1   dialogueID  object
 2   date        object
 3   from        object
 4   to          object
 5   text        object
dtypes: int64(1), object(5)
memory usage: 421.7+ MB

,folder,dialogueID,date,from,to,text
9212872,13,3676.tsv,2012-07-07T20:17:00.000Z,MonkeyDust,legolas,= arian
9212873,13,3676.tsv,2012-07-07T20:18:00.000Z,MonkeyDust,legolas,"observation and deduction, dear watson"
9212874,13,16586.tsv,2008-07-25T01:53:00.000Z,linuxfce,NaN,i am trying to install nvidia drivers from the...
9212875,13,16586.tsv,2008-07-25T01:53:00.000Z,linuxfce,NaN,how do i enter runlevel 3? when i try telinit ...
9212876,13,16586.tsv,2008-07-25T01:54:00.000Z,linuxfce,NaN,anyone know how to enter runlevel 3 in ubuntu?

In [5]:
# dialogue text 301 info
dialogueText_301.info()
dialogueText_301.describe()
dialogueText_301.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16587830 entries, 0 to 16587829
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   folder      int64
 1   dialogueID  object
 2   date        object
 3   from        object
 4   to          object
 5   text        object
dtypes: int64(1), object(5)
memory usage: 759.3+ MB

,folder,dialogueID,date,from,to,text
16587825,32,1783.tsv,2007-11-15T03:38:00.000Z,koyo001,NaN,thanks
16587826,32,1783.tsv,2007-11-15T03:39:00.000Z,koyo001,NaN,does anyone know something
16587827,32,1783.tsv,2007-11-15T03:39:00.000Z,neverblue,NaN,"no, no one knows everything"
16587828,32,1783.tsv,2007-11-15T03:40:00.000Z,koyo001,ikonia,the camera doesnt work
16587829,32,1783.tsv,2007-11-15T03:40:00.000Z,neverblue,koyo001,I believe you missed a post or two while you w...